<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student/Professor Sign Up</title>
</head>
<body>
  <h2>Student/Professor Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    <label for="{{ form.username.id_for_label }}">First name:</label>
    {{ form.first_name }}
    <br>
    <label for="{{ form.username.id_for_label }}">Last name:</label>
    {{ form.last_name }}
    <br>
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}
    <br>
    <label for="{{ form.password1.id_for_label }}">Password:</label>
    {{ form.password1 }}
    <br>
    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
    {{ form.password2 }}
    <br>
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
    <br>
    <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth:</label>
    {{ form.date_of_birth }}
    <br>
    <label for="{{ form.department.id_for_label }}">Department:</label>
    {{ form.department }}
    <br>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
