<!DOCTYPE html>
<html>
<head>
    <title>Create calendardissertation</title>
</head>
<body>
  <h1>Create calendardissertation</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  
  {% if isFromDissFlow %}
  <a href="{% url 'dissertation:dissertation_calendar_create_list' %}" class="btn btn-secondary">Back</a>
  {% else %}
  <a href="{% url 'dissertation:calendardissertation_list' %}" class="btn btn-secondary">Back</a>
  {% endif %}
</body>
</html>