<!DOCTYPE html>
<html>
<head>
    <title>All Dissertations</title>
</head>
<body>
  <h1>All Dissertations</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Location</th>
        <th>Online</th>
        <th>Open to Public</th>
        <th>Supervisor</th>
        <th>Board</th>
        <th>Approved</th>
        {% if user.is_superuser %}
          <th>Student</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for dissertation in dissertations %}
        <tr>
          <td>{{ dissertation.title }}</td>
          <td>{{ dissertation.url }}</td>
          <td>{{ dissertation.location }}</td>
          <td>{% if dissertation.is_online %}Yes{% else %}No{% endif %}</td>
          <td>{% if dissertation.is_open_to_public %}Yes{% else %}No{% endif %}</td>
          <td>{{ dissertation.supervisor }}</td>
          <td>
            <ul>
              {% for professor in dissertation.board.all %}
                <li>{{ professor }}</li>
              {% empty %}
                <li>No board members assigned</li>
              {% endfor %}
            </ul>
          </td>
          <td>{% if dissertation.is_approved %}Yes{% else %}No{% endif %}</td>
          {% if user.is_superuser %}
            <td>{{ dissertation.student }}</td>
          {% endif %}
          <td><a href="{% url 'dissertation:dissertation_detail' dissertation.id %}">View</a></td>
          {% if user.is_superuser %}
            <td><a href="{% url 'dissertation:dissertation_update' dissertation.id %}">Edit</a></td>
            <td><a href="{% url 'dissertation:dissertation_delete' dissertation.id %}">Delete</a></td>
            <td>{% if not dissertation.is_approved %}Needs Approval{% endif %}</td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="8">No dissertations found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_superuser %}
  <a href="{% url 'dissertation:dissertation_create' %}" class="btn btn-primary">Create Dissertation</a>
  <a href="{% url 'event:adminpage' %}" class="btn btn-primary">Back</a>
  {% else %}
  <a href="{% url 'event:dashboard' %}" class="btn btn-primary">Back</a>
  {% endif %}

</body>
</html>
