<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome, Secretary/Admin!</title>
</head>
<body>
  <h1>Welcome, Admin!</h1>
  <p>Thank you for logging in as an administrator. You have access to the administrative panel.</p>
  <p>Please use the navigation links to manage the website's content:</p>
  <ul>
    <li><a href="{% url 'student:student_list' %}">See All Students</a></li>
    <li><a href="{% url 'professor:professor_list' %}">See All Professors</a></li>
    <li><a href="{% url 'course:course_list' %}">See All Courses</a></li>
    <li><a href="{% url 'event:sec_event_list' %}">See All Events</a></li>
  </ul>
  {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">Logout</a>
  {% endif %}
</body>
</html>