
<style>
  /* Add some styles to make the calendar smaller and visually appealing */
  #calendar {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;
  }
</style>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>

<!-- In your HTML template -->
<div id='calendar'></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: '{% url "event:get_events" %}', 
    });
    calendar.render();
  });
</script>


