<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>
	{% if student %}
		<h1>Welcome, {{ student.user.first_name }} {{ student.user.last_name }}</h1>
	{% endif %}
	{% if professor %}
		<h1>Welcome, {{ professor.user.first_name }} {{ professor.user.last_name }}</h1>
	{% endif %}
	<nav>
		<ul>
			{% if user.is_active %}
				<li><a href="{% url 'event:my_event_list' %}">See My Events</a></li>
				{% if student %}
					<li><a href="{% url 'student:enroll_to_courses' %}">Enroll to a Course</a></li>
					<li><a href="{% url 'student:get_enrolled_cal_courses' %}">See Enrolled Cal Courses</a></li>
					<li><a href="{% url 'seminar:calendarseminar_list' %}">Seminars</a></li>
					<li><a href="{% url 'seminar:enroll_to_calendar_seminar' %}">My Seminars</a></li>
					<li><a href="{% url 'dissertation:dissertation_create' %}">Apply To Get Date For Your Dissertation</a></li>
					<li><a href="{% url 'dissertation:student_dissertation_list' %}">My Dissertations</a></li>
				{% endif %}
				{% if professor %}
				<li><a href="{% url 'professor:get_cal_courses' %}">My Calendar Courses</a></li>
				{% endif %}
			{% endif %}
			<li><a href="{% url 'accounts:myprofile' %}">My Account</a></li>
		</ul>
	</nav>
	
	{% if user.is_authenticated %}
		<a href="{% url 'accounts:logout' %}">Logout</a>
	{% endif %}
</body>
</html>
