{% load static %}
{% load myfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Admin Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/students_pop_up.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{% static 'js/students_pop_up.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('table tbody').hide();
            $('table thead').hide();
            $('h2').click(function () {
                $(this).next('table').find('thead').toggle();
                $(this).next('table').find('tbody').toggle();
            });
        });
    </script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 50px;
        }

        h1, h2 {
            color: #333;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 5px;
            cursor: pointer;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        button:hover {
            background-color: #2980b9;
        }

        .btn-secondary {
            padding: 10px 20px;
            font-size: 16px;
            margin: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            background-color: #e74c3c;
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        .btn-secondary:hover {
            background-color: #e74c3c;
        }

        h2 {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            margin: 5px;
            cursor: pointer;
            background-color: #856196;
            color: #fff;
            border: none;
            border-radius: 4px;
            }

        a {
            text-decoration: none;
            color: #3498db;
            font-weight: bold;
            transition: color 0.3s ease;
        }

    </style>
</head>
<body>
    <h1>All Admin Events</h1>

    <h2>Calendar Courses</h2>
    <table>
        <thead>
            <tr>
                <th>Professor</th>
                <th>Course</th>
                <th>Semester</th>
                <th>Room Number</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Is Online</th>
                <th>Is Active</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Show Students</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in calCourseEvents %}
                <tr>
                    <td>{{ event.calendarCourse.course.professor.user.first_name }} {{ event.calendarCourse.course.professor.user.last_name }}</td>
                    <td>{{ event.calendarCourse.course.title }}</td>
                    <td>{{ event.calendarCourse.calendarSemester.semester.term }} {{ event.calendarCourse.calendarSemester.semester.year }}</td>
                    {% with recentChange=event|filter_changes %}
                    {% if recentChange %}
                        <td>{{ recentChange.room_number }}</td>
                        <td>{{ recentChange.date }}</td>
                        <td>{{ recentChange.start_time }}</td>
                        <td>{{ recentChange.end_time }}</td>
                        <td>{{ recentChange.is_online }}</td>
                    {% else %}
                        <td>{{ event.calendarCourse.room_number }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.calendarCourse.start_time }}</td>
                        <td>{{ event.calendarCourse.end_time }}</td>
                        <td>{{ event.calendarCourse.is_online }}</td>
                    {% endif %}
                    <td>{{ event.calendarCourse.is_active }}</td>
                    <td>{{ event.created_at }}</td>
                    <td>{{ event.updated_at }}</td>
                {% endwith %}
                    <td><button class="btn-show-students" data-ev-id="{{ event.pk }}">Show Enrolled Students</button></td>
                    <td>
                        <a href="{% url 'event:event_detail' ev_id=event.pk %}"><i class="fas fa-eye"></i>View</a>
                        <a href="{% url 'event:event_update' ev_id=event.pk %}"><i class="fas fa-edit"></i>Edit</a>
                        <a href="{% url 'event:event_delete' ev_id=event.pk %}"><i class="fas fa-trash"></i>Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Calendar Seminars</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Speaker</th>
                <th>Location</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Is Online</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Show Students</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in calSeminarEvents %}
                <tr>
                    <td>{{ event.calendarSeminar.seminar.title }}</td>
                    <td>{{ event.calendarSeminar.seminar.url }}</td>
                    <td>{{ event.calendarSeminar.seminar.speaker_fullname }}</td>
                    <td>{{ event.calendarSeminar.seminar.location }}</td>
                    {% with recentChange=event|filter_changes %}
                        {% if recentChange %}
                            <td>{{ recentChange.date }}</td>
                            <td>{{ recentChange.start_time }}</td>
                            <td>{{ recentChange.end_time }}</td>
                            <td>{{ recentChange.is_online }}</td>
                        {% else %}
                            <td>{{ event.calendarSeminar.date }}</td>
                            <td>{{ event.calendarSeminar.start_time }}</td>
                            <td>{{ event.calendarSeminar.end_time }}</td>
                            <td>{{ event.calendarSeminar.seminar.is_online }}</td>
                        {% endif %}
                            <td>{{ event.created_at }}</td>
                            <td>{{ event.updated_at }}</td>
                    {% endwith %}
                    <td><button class="btn-show-students" data-ev-id="{{ event.pk }}" data-ev-kind="calendarseminar">Show Enrolled Students</button></td>
                    <td>
                        <a href="{% url 'event:event_detail' ev_id=event.pk %}"><i class="fas fa-eye"></i>View</a>
                        <a href="{% url 'event:event_update' ev_id=event.pk %}"><i class="fas fa-edit"></i>Edit</a>
                        <a href="{% url 'event:event_delete' ev_id=event.pk %}"><i class="fas fa-trash"></i>Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Calendar Dissertations</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Student</th>
                <th>Supervisor</th>
                <th>Url</th>
                <th>Location</th>
                <th>Open to public</th>
                <th>Board</th>
                <th>Date</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Online</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in calDissertationEvents %}
                <tr>
                    <td>{{ event.calendarDissertation.dissertation.title }}</td>
                    <td>{{ event.calendarDissertation.dissertation.student.user.get_full_name }}</td>
                    <td>{{ event.calendarDissertation.dissertation.supervisor }}</td>
                    <td>{{ event.calendarDissertation.dissertation.url }}</td>
                    <td>{{ event.calendarDissertation.dissertation.location }}</td>
                    <td>{{ event.calendarDissertation.dissertation.is_open_to_public }}</td>
                    <td>
                        <ul>
                            {% if event.calendarDissertation.dissertation.board.exists %}
                                {% for professor in event.calendarDissertation.dissertation.board.all %}
                                    <li>{{ professor }}</li>
                                {% endfor %}
                            {% else %}
                                <li>No board members assigned</li>
                            {% endif %}
                        </ul>
                    </td>
                    {% with recentChange=event|filter_changes %}
                        {% if recentChange %}
                            <td>{{ recentChange.date }}</td>
                            <td>{{ recentChange.start_time }}</td>
                            <td>{{ recentChange.end_time }}</td>
                            <td>{{ recentChange.is_online }}</td>
                        {% else %}
                            <td>{{ event.calendarDissertation.date }}</td>
                            <td>{{ event.calendarDissertation.start_time }}</td>
                            <td>{{ event.calendarDissertation.end_time }}</td>
                            <td>{{ event.calendarDissertation.dissertation.is_online }}</td>
                        {% endif %}
                            <td>{{ event.created_at }}</td>
                            <td>{{ event.updated_at }}</td>
                    {% endwith %}
                    <td>
                        <a href="{% url 'event:event_detail' ev_id=event.pk %}"><i class="fas fa-eye"></i>View</a>
                        <a href="{% url 'event:event_update' ev_id=event.pk %}"><i class="fas fa-edit"></i>Edit</a>
                        <a href="{% url 'event:event_delete' ev_id=event.pk %}"><i class="fas fa-trash"></i>Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'event:adminpage' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>Back</a>
</body>
</html>



<script>

    window.onload = function() {
        const showStudentsButtons = document.querySelectorAll('.btn-show-students');
        showStudentsButtons.forEach(button => {
            button.addEventListener('click', () => {
                const evId = button.dataset.evId;
                const evKind = button.dataset.evKind;
                searchStudents(evId, evKind);
            });
        });
    }

    function searchStudents(evId, evKind) {
        let temp = -1;
        if (evId) {
            temp = evId;  // Use placeholder value if evId is empty
        } 
        console.log(evId);
        if (evKind === 'calendarseminar'){
            const url = `/event/${temp}/calendar/seminar/get/students/`;
            const windowFeatures = 'width=600,height=400,resizable,scrollbars';
            window.open(url, '_blank', windowFeatures);
        }
        else{
            const url = `/secretary/events/${temp}/get/students/`;
            const windowFeatures = 'width=600,height=400,resizable,scrollbars';
            window.open(url, '_blank', windowFeatures);
        }
    }
</script>
