{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>All Admin Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/students_pop_up.css' %}">
    <script src="{% static 'js/students_pop_up.js' %}"></script>
</head>
<body>
    <h1>All Admin Events</h1>
    <table>
        <thead>
            <tr>
                <th>Students</th>
                <th>Professor</th>
                <th>Course</th>
                <th>Semester</th>
                <th>Room Number</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Is Active</th>
                <th>Is Deleted</th>
                <th>Is Online</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td><button class="btn-show-students" data-ev-id="{{ event.pk }}">Show Enrolled Students</button></td>
                    <td>{{ event.calendarCourse.course.professor.user.first_name }} {{ event.calendarCourse.course.professor.user.last_name }}</td>
                    <td>{{ event.calendarCourse.course.title }}<td>
                    <td>{{ event.calendarCourse.semester.term }} {{ event.calendarCourse.semester.year }}</td>
                    <td>{{ event.calendarCourse.room_number }}</td>
                    <td>{{ event.calendarCourse.start_time }}</td>
                    <td>{{ event.calendarCourse.end_time }}</td>
                    <td>{{ event.calendarCourse.is_active }}</td>
                    <td>{{ event.calendarCourse.is_deleted }}</td>
                    <td>{{ event.calendarCourse.is_online }}</td>
                    <td>{{ event.created_at }}</td>
                    <td>{{ event.updated_at }}</td>
                    <td>
                        <a href="{% url 'event:event_detail' ev_id=event.pk %}">View</a>
                        <a href="{% url 'event:event_update' ev_id=event.pk %}">Edit</a>
                        <a href="{% url 'event:event_delete' ev_id=event.pk %}">Delete</a>
                      </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div id="popup-container">
        <p>This is the pop-up content.</p>
    </div>

    {% if request.META.HTTP_REFERER %}
        <a href="{{ request.META.HTTP_REFERER }}">Back</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a>
    {% endif %}
</body>
</html>



<script>

    window.onload = function() {
        const showStudentsButtons = document.querySelectorAll('.btn-show-students');
        showStudentsButtons.forEach(button => {
            button.addEventListener('click', () => {
                const evId = button.dataset.evId;
                searchStudents(evId);
            });
        });
    }

    function searchStudents(evId) {
        let temp = -1;
        if (evId) {
            temp = evId;  // Use placeholder value if evId is empty
        } 
        console.log(evId);
        const url = `/secretary/events/${temp}/get/students/`;
        const windowFeatures = 'width=600,height=400,resizable,scrollbars';
        window.open(url, '_blank', windowFeatures);
    }
</script>
