<!DOCTYPE html>
<html>
<head>
    <title>My Events</title>
</head>
<body>
    <h1>My Events</h1>
    <table>
        <thead>
            <tr>
                <th>Professor</th>
                <th>Course</th>
                <th>Semester</th>
                <th>Room Number</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Is Online</th>
                <th>Action</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.calendarCourse.course.professor.user.first_name }} {{ event.calendarCourse.course.professor.user.last_name }}</td>
                    <td>{{ event.calendarCourse.course.title }}</td>
                    <td>{{ event.calendarCourse.semester.term }} {{ event.calendarCourse.semester.year }}</td>
                    <td>{{ event.calendarCourse.room_number }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.calendarCourse.start_time }}</td>
                    <td>{{ event.calendarCourse.end_time }}</td>
                    <td>{{ event.calendarCourse.is_online }}</td>
                    {% if user.professor %}
                        <td><a href="{% url 'professor:request_event_change' ev_id=event.pk %}">Change Event</a></td>
                        <td><button class="btn-show-changes" data-ev-id="{{ event.pk }}">See Changes</button></td>
                    {% endif %}
                    {% if user.is_superuser %}
                        <td><button class="btn-show-changes" data-ev-id="{{ event.pk }}">See Changes To Approve</button></td>
                    {% endif %}
                    {% if event.changes.all %}
                        <p>change</p>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'event:dashboard' %}" class="btn btn-secondary">Back</a>
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a>
    {% endif %}
</body>
</html>

<script>

    window.onload = function() {
        const showChangesButtons = document.querySelectorAll('.btn-show-changes');
        showChangesButtons.forEach(button => {
            button.addEventListener('click', () => {
                const evId = button.dataset.evId;
                seeChanges(evId);
            });
        });
    }

    function seeChanges(evId) {
        let temp = -1;
        if (evId) {
            temp = evId;  // Use placeholder value if evId is empty
        } 
        console.log(evId);
        const url = `/professor/events/${temp}/get/changes/`;
        const windowFeatures = 'width=600,height=400,resizable,scrollbars';
        window.open(url, '_blank', windowFeatures);
    }
</script>

