<!DOCTYPE html>
<html>
<head>
  <title>Delete Calendar Seminar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Delete Calendar Seminar</h1>
    <form action="{% url 'seminar:calendarseminar_delete' calSeminar_id=calendarseminar.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete" class="btn btn-danger">
      <a href="{% url 'seminar:calendarseminar_list' %}" class="btn btn-secondary">Back</a>
    </form>
  </div>
</body>
</html>
