<!DOCTYPE html>
<html>
<head>
  <title>Delete Student</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Delete student</h1>
    <p>Are you sure you want to delete {{ student.name }}?</p>
    <form action="{% url 'student:student_delete' del_id=student.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete" class="btn btn-danger">
      <a href="{% url 'student:student_list' %}" class="btn btn-secondary">Back</a>
    </form>
  </div>
</body>
</html>