<!DOCTYPE html>
<html>
<head>
  <title>Delete Professor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Delete Professor</h1>
    <p>Are you sure you want to delete {{ professor.name }}?</p>
    <form action="{% url 'professor_delete' prof_id=professor.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete" class="btn btn-danger">
      <a href="{% url 'professor_list' %}" class="btn btn-secondary">Back</a>
    </form>
  </div>
</body>
</html>
