<!DOCTYPE html>
<html>
<head>
  <title>All Professors</title>
</head>
<body>
  <h1>All Professors</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for professor in professors %}
        <tr>
          <td>{{ professor.user.get_full_name }}</td>
          <td>{{ professor.department.name }}</td>
          <td>
            <a href="{% url 'professor:professor_detail' prof_id=professor.pk %}">View</a>
            <a href="{% url 'professor:professor_update' prof_id=professor.pk %}">Edit</a>
            <a href="{% url 'professor:professor_delete' prof_id=professor.pk %}">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No professors found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'event:adminpage' %}" class="btn btn-secondary">Back</a>
  <a href="{% url 'professor:professor_create' %}">Create New Professor</a>
</body>
</html>



